*{
    margin: 0;
    padding: 0;
}
.bk{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
}
.chat{
    width: 70%;
    max-height: 100vh;
    background-color: rgb(255, 255, 255);
}
.pedido{
    width: 30%;
    max-height: 100vh;
    background-color: rgb(255, 199, 0); 
}
.barra{
    background-color: rgba(255, 255, 255, 0);
    height: 30px;
    width: 100%;
    border-bottom: solid black 3px;
}
.btn-return{
    background-color: rgba(255, 255, 255, 0);
    height: 30px;
    width: 50px;
    border: none;
    border-right: solid black 3px;   
}
.seta{
    transform: scaleX(-1);
    max-height: 30px;
    max-width: 50px;
}
.txt{
    padding-left: 20px;
}
.input{
    justify-content: center;
    margin-top: 670px;
    margin-left: 20px;
    width: 90%;
    height: 4%;
    border: solid gray 1px;
    border-radius: 20px;
    padding: 8px;
}
.enviar{
    width: 4%;
    height: 6%;
    border: solid gray 3px;
    border-radius: 100px;
}
