<!DOCTYPE html>
<html>
<head>
    <title>Pedido</title>
    <link href="{{ url_for('static', filename='pedido.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="bk">
        <div class="chat">
            <div class="barra">
                <button class="btn-return"><image class="seta" src="static/images/seta-esquerda.png"></button>
            </div>
        </div>
        <div class="pedido">
            <div class="barra">
                <h2>Pedido</h2>
            </div>
        </div>
    </div>
</body>



</html>