<!DOCTYPE html>
<html>
<head>
    <title>Pedido</title>
    <link href="{{ url_for('static', filename='pedido.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="bk">
        <div class="chat">
            <div class="barra">
                <button class="btn-return" onclick="Voltar()"><image class="seta" src="static/images/seta-esquerda.png"></button>
            </div>
        </div>
        <div class="pedido">
            <div class="barra">
                <h2 class="txt">Seu pedido</h2>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="{{ url_for('static', filename='redirect.js') }}"></script>

</html>